frontend/build/
/.idea/
/*.iml
*.log

# Backend
backend/.env
backend/*.hprof
backend/src/main/resources/application-*.yml

# Frontend
frontend/.vite/
frontend/node_modules/
frontend/dist/

# Outros
*.log
