spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: desafiovotacao
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  task:
    scheduling:
      pool:
        size: 10

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs

  swagger-ui:
    enabled: true
    path: /swagger
    operationsSorter: method
    tagsSorter: alpha
    display-request-duration: true
    url: /openapi.yml


  packages-to-scan: com.dbserver.ugo.votacao
  paths-to-match:
    - /api/v1/**
sessao:
  scheduler:
    delay: 60000
logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
  file:
    name: logs/application.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30
      file-name-pattern: logs/application.%d{yyyy-MM-dd}.%i.log
      clean-history-on-start: false
      total-size-cap: 1GB

  level:
    com.dbserver.ugo.votacao: DEBUG

    org.springframework: INFO
    org.springframework.web: INFO
    org.springframework.security: INFO
    org.springframework.transaction: INFO

    org.hibernate: WARN
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql: WARN

    org.springframework.jdbc: WARN
    org.springframework.scheduling: DEBUG
    org.springframework.cache: WARN

    org.apache.tomcat: INFO
    org.apache.catalina: INFO
    root: INFO
