spring:
  datasource:
    url: jdbc:postgresql://dpg-d4et61rgk3sc73bv2o3g-a.ohio-postgres.render.com:5432/desafiovotacao_1c6z
    username: desafiovotacao
    password: vPSafQ1klOCqQ11XfglJjFHnLYoOodOG
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
